{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron">
    
    <div id="profile-tom" class="about-profile">
        <h1 class="display-4 text-center">The Developer</h1>
        <p class="lead text-center">This is a FSDI Project using Django.</p>
        <hr class="my-4">
        <p class="text-center"><button class="btn btn-primary btn-lg" onclick="myProfile()">Learn more about me</button></p>
    </div>
    
    
    <p class="lead">
    </p>
</div>
<script>
    function myProfile(){
        document.getElementById("profile-tom").innerHTML = `
        <h1 class="display-4 text-center">Tom Nguyen</h1>
        <p class="lead text-center">Hi, I'm Tom. Please contact me by using the information below.</p>
        <hr class="my-4">
        <p class="text-center"><img src="{% static 'img/profile-picture.jpg' %}" alt="profile"></p>
        <p class="text-center">Email: Tommie_89@yahoo.com</p>
        <p class="text-center">Phone: (123) 456-7890</p>
        `;
    }
</script>
{% endblock content %}